//variables
@import url(https://fonts.googleapis.com/css?family=Merriweather|Oswald&display=swap);

$font-merri: 'Merriweather',
serif;
$font-oswald: 'Oswald',
sans-serif;

$color-primary: '#1abc9c';
$color-secondary: '#3498db';


@import 'partials/about';
@import 'partials/contact';
@import 'partials/home';
@import 'partials/login';
@import 'partials/search';

body {
    margin: 0;
    padding: 0;
    //background: #eee url('../assets/bg.jpg') center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-merri;
}

p {
    font-family: $font-oswald;
}